.banner{
    color: #fff;
    object-fit: contain;
    height: 100vh; /*Modificar esto para obtener una full screen*/
    position: relative;
}
.banner_contents{
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    width: 70%;
}
.banner_original_thin{
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 4px;
}
.banner_original_bold{
    font-weight: 700;
}
.banner_title{
    
    text-transform: uppercase;
    color: #64EEBC;
    font-size: 120px;
    letter-spacing: 16px;
    line-height: 110px;
    word-wrap: break-word;
    font-weight: 500;
    margin-bottom: 20px;
}


/*BANNER BUTTONS*/
.banner_button{
    width: 248px;
    height: 56px;
    font-size: 18px;
    font-weight: 400;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    color: #fff;
    background-color: #242424;
    border: none;
    border-radius: 0.2vw;
    outline: none;
    cursor: pointer;
    letter-spacing: 4px;
    transition: all 0.2s;
}
.banner_button:hover{
    color: #000;
    background-color: #64EEBC;
    transition: all 0.2s;
}
.banner_button_lista{
    /* background-color:  #24242480;*/
    background-color: transparent;
    border: 1px solid #ffffff80;
}

/*SELECT*/

.movie_list{
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    margin-right: 50px;
}
.movie_list span{
    padding: 10px;
    padding-right: 0;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
}
.movie_list select{
    padding: 10px;
    padding-left: 0;
    margin-bottom: 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 700;
}
.movie_list select:focus{
     outline: none;
}
.movie_list select option{
    color: #fff;
    background-color: #242424;
    border: none;
    outline-offset: none;
    outline-style: none;
    outline: none;
}