.column_posters{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.poster_container{
  display: inline-block;
  position: relative;
  transition: transform 450;
  transition: 0.5s ease all;
}
.poster_container:hover{
  transform: scale(1.08);
  transition: 0.5s ease all;
}
.poster_container:hover .poster--fadeBottom{
  height:90%;
  transition: 1s ease all;
}
.poster_container:hover .column_poster_name{
  bottom: 35%;
  transition: 0.5s ease all;

}
.poster_container:hover .column_poster_movie_info{
  bottom: 15px;
  color: #fff;
  transition: 0.5s ease all;
}


.poster_container:hover .column_poster_movie_info_text{
  visibility: visible;
  font-size: 16px
}



.column_poster{
    object-fit: scale-down;
    width: 262.97px;
    max-height: 146px;
    margin-bottom: 10px;
    z-index: 1;
}

.column_poster_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.column_poster_name{
  position: absolute;
  bottom: 15px;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  word-wrap: break-word;
  width: 50%;
  z-index: 5;
  transition: 0.5s ease all;
}
.column_poster_movie_info{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 90%;
  z-index: 5;
  color: transparent;
  transition: 0.5s ease all;
}
.column_poster_movie_info_text{
  visibility: hidden;
  transition: 0.5s ease all;
  font-size: 0px
}


.poster--fadeBottom{
    position:absolute;
    bottom:15px;
    left: 1px;
    width:99%;
    height:50px;
    background: -moz-linear-gradient(top,  #89fff100 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89fff100), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #89fff100 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #89fff100 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #89fff100 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #89fff100 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    z-index: 4;
  transition: 0.5s ease all;
}


@media (max-width: 1065px){
  .poster--fadeBottom{
    display: none;
  }
}