.column{
  margin-left: 20px;
}
.column_posters{
  display: flex;
  flex-direction: column;
}
.column_poster{
    object-fit: scale-down;
    width: 262.97px;
    max-height: 146px;
    margin-bottom: 10px;
}
/*
.column_posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar{
  display: none;
}
.colums_poster{
  object-fit: contain;
  width: 100%;
  max-height:100px;
  margin-right: 10px;
  transition: transform 450;
}
.column_poster:hover{
  transform: scale(1.08);
}
*/